.header, .navbar, .aside {
  background-color: light-dark(#f6f7f9, var(--mantine-color-dark-8));
}

.navbar {
  @media (max-width: $mantine-breakpoint-sm) {
    width: 350px;
  }
}

.aside {
  @media (max-width: $mantine-breakpoint-sm) {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    height: 100vh;
    margin-top: 0;
  }
}

.resizeHandle {
  width: 3px;
  cursor: col-resize;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background: transparent;
  z-index: 10;
}

.resizeHandle:hover,
.resizeHandle:active {
  width: 5px;
  background: light-dark(
    var(--mantine-color-gray-4),
    var(--mantine-color-dark-5)
  );
}

.asideResizeHandle {
  width: 3px;
  cursor: col-resize;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: transparent;
  z-index: 10;
}

.asideResizeHandle:hover,
.asideResizeHandle:active {
  width: 5px;
  background: light-dark(
    var(--mantine-color-gray-4),
    var(--mantine-color-dark-5)
  );
}




